body {
 height:100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 font: 12px monospace;
 background-color: #ffecd1;
 color: #78290f;
}

.header {
 display: flex;
 justify-content: center;
 width:100%;
 gap: 10px;
 padding:5px;
 flex-wrap:wrap;
 background-color: #ff7d00;
}

.headElement {
 min-width: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.logo {
 font-size: 1.5em;
 font-weight: 600;
}

.gamebox {
 flex:1;
 display: flex;
 height:100%;
 width:100%;
 gap:10px;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 padding: 10px;
}

.drawPad {
 flex: 3;
 min-width: 500px;
 align-self: stretch;
 background-color: #15616d;
 display: flex;
 flex-wrap: wrap;
 align-items:center;
 justify-content:top;
}

.tips {
 background-color: #ff7d00;
 flex:1;
 align-self: stretch;
 min-width:200px;
 padding: 10px;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
}

.tile {
 border: solid 1px #001524;
 box-sizing: border-box;
}

.coloredTile {
 background-color: #001524;
}

.buttonbox {
 background-color: #78290f;
 padding: 5px;
 margin: 10px 0px;
}

.textbox {
 margin: 5px;
}