body {
 height:100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 font: 12px monospace;
 background-color: #ffecd1;
 color: #78290f;
}

.header {
 display: flex;
 justify-content: center;
 width:100%;
 gap: 10px;
 padding:5px;
 flex-wrap:wrap;
 background-color: #ff7d00;
}

.headElement {
 min-width: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.logo {
 font-size: 1.5em;
 font-weight: 600;
}

.gamebox {
 flex:1;
 display: flex;
 height:100%;
 width:100%;
 gap:10px;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 padding: 10px;
}

.drawPad {
 flex: 1;
 min-width: 500px;
 align-self: stretch;
 background-color: #15616d;
 padding: 10px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
}

/*.tips {
 background-color: #15616d;
 flex:1;
 align-self: stretch;
 min-width:200px;
 max-width: 700px;
 max-height: 700px;
 padding: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
} */

.tile {
 box-sizing: border-box;
 border: solid 1px #15616d;
 opacity: 100%;
}

.coloredTile {
 background-color: #001524;
}