body {
 height:100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 font: 12px monospace;
 background-color: #ffecd1;
 color: #78290f;
}

.header {
 display: flex;
 justify-content: center;
 width:100%;
 gap: 10px;
 padding:5px;
 flex-wrap:wrap;
 background-color: #ff7d00;
}

.headElement {
 min-width: 500px;
 display: flex;
 justify-content: center;
 align-items: center;
}

.logo {
 font-size: 1.5em;
 font-weight: 600;
}

.gamebox {
 flex:1;
 display: flex;
 height:100%;
 width:100%;
 gap:10px;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
 padding: 10px;
}

.drawPad {
 flex: 5 5 250px;
 min-width: 400px;
 padding: 5px;
 border: solid 5px #ff7d00;
 align-self: center;
 background-color: #15616d;
 display: flex;
 flex-wrap: wrap;
 align-items:center;
 justify-content:center;
}

.tips {
 background-color: #ff7d00;
 display: flex;
 flex: 1;
 flex-direction: column;
 align-self: stretch;
 min-width:200px;
 padding: 10px;
 order: 1;
}

.tile {
 outline: solid 1px #15616d;
}

.coloredTile {
 background-color: #001524;
}

.buttonbox {
 background-color: #78290f;
 padding: 5px;
 margin: 10px 0px;
 display: flex;
 gap:5px;
 width:95%;
 justify-content: space-between;
 align-self: center;
}

.gridButton {
 flex: 1;
 border: solid 3px #ff7d00;
 background-color:#78290f;
 color: #ff7d00;
 font: 2em monospace, bold;
 padding: 0px 5px
}

#currentGridSize {
 flex: 6;
 text-align: center;
 border: solid 3px #ff7d00;
 background-color:#78290f;
 color: #ff7d00;
 font: 1.5em monospace, bold;
 padding: 5px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.textbox {
 margin: 5px;
}